{% load staticfiles %}
<html lang="ko">
  <head>

    <title>HanSol Django First Website</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

  </head>
  <body>
    <div class="page-header">
        <h1><a href="/">Han Sol Django Girls Blog</a></h1>
        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-12">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
  </body>
</html>